<script type="text/javascript">
    var bannersUrls = new Array("../public/imgs/hofgut_aussen.jpg","../public/imgs/bodensee.jpg","../public/imgs/traktor_feld.jpg","../public/imgs/hofgut_aussen-alles.jpg","../public/imgs/hofgut_schild.jpg"); 
    var timeSpeed = 4000;
    var firstBannerTimeSpeed = 4000;
    var acctualBanner = 0;
    var repeatFirstBanner = true;   
    
    $(document).ready(function() {
        $("img.ImageBannerTop").attr("src", bannersUrls[acctualBanner]);
        $("img.ImageBannerBottom").hide(); 
        $("img.ImageBannerBottom").attr("src", bannersUrls[acctualBanner + 1]);   

        // #### MG: 2011-12-13
        if(bannersUrls.length > 1)
        {
            setTimeout('nextBanner()', firstBannerTimeSpeed);
        }
      
        
        $(".ContainerBannerRotator").hoverIntent(function() { $(this).find(".ContainerBannerEditButton").show(); },
            function() { $(this).find(".ContainerBannerEditButton").fadeOut('fast'); }); 
            
        //        $('.BannerRotatorOpenEditPopup').click(function() {
        //            $('#HiddenModalEditBanners').slideDown('normal');                                                 
        //        });   
        //        
        //        $('#EditBannersCloseButton').click(function() {
        //            $('#HiddenModalEditBanners').slideUp('normal');
        //        });
        
    });
    
    function nextBanner()
    {
        $("img.ImageBannerTop").show();
        acctualBanner = acctualBanner + 1;

        if(acctualBanner > (bannersUrls.length - 1))
        {
            if(repeatFirstBanner)
                acctualBanner = 0;
            else
                acctualBanner = 1; 
        }

        $("img.ImageBannerBottom").attr("src", bannersUrls[acctualBanner]);
        $("img.ImageBannerBottom").show();
        
        $("img.ImageBannerTop").fadeOut(1500, function() {
            $(this).attr("src", bannersUrls[acctualBanner]);
            //$(this).show();
            //$(this).fadeIn('fast');
        });                       
         
        setTimeout('nextBanner()', timeSpeed);
    } 
    
</script>
    <div class="Column2">
        
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-44f3-8850-ef5a96d50de3">
   



<div class="a832745f-8478-44f3-8850-ef5a96d50de3 Title">
    <h1>Hofgut Storzeln - Kontakt<br /></h1>
</div>
 

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-4566-b76c-f3004454c693">
   



<div class="a832745f-8478-4566-b76c-f3004454c693">
    <div style="width: 0px; height: 0px;"></div><p class="MsoNormal">Anschrift:</p><p class="MsoNormal">Hofgut Storzeln GmbH<br />Storzeln 1<br />D-78247 Hilzingen<br /></p><p class="MsoNormal">Telefon: +49 7739 / 92 88 462<br />Telefax: +49 7739 / 92 88 464 <br /></p><p class="MsoNormal"><a href="http://hofgutstorzeln.de/info@hofgutstorzeln.de" target="_self"></a><a href="mailto:info@hofgutstorzeln.de" target="_self">info@hofgutstorzeln.de</a><br />www.hofgutstorzeln.de</p>              
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-4566-b76c-f3004454c693">
   



<div class="a832745f-8478-4566-b76c-f3004454c693">
    <div style="width: 0px; height: 0px;"></div>
       
         
      
        Geschäftsführender Gesellschafter: Simon Schorre,  Dipl.-Agr.-Ing.<br />Mobil: +49 170 / 49 22 870<br /><a href="mailto:s.schorre@hofgutstorzeln.de" target="_self">s.schorre@hofgutstorzeln.de</a>              
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-44f3-8850-ef5a96d50de3">
   



<div class="a832745f-8478-44f3-8850-ef5a96d50de3 Title">
    <h1>Wir freuen uns auf Ihre Nachricht<br /></h1>
</div>
 

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-1345346c-3535-4861-882f-4c7f64267963">
   




<div class="1345346c-3535-4861-882f-4c7f64267963 Segment_1345346c-3535-4861-882f-4c7f64267963">
    
<table>
    <tr>
        <td class="Title">Name</td>
        <td><input name="ctl00$ContentPlaceHolderPage$LayoutOfthePage$TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2$ctl00$FormularKontakt$TextBoxName" type="text" id="ctl00_ContentPlaceHolderPage_LayoutOfthePage_TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2_ctl00_FormularKontakt_TextBoxName" class="Textbox" /></td>
    </tr>
    <tr>
        <td colspan="2">            
            
        </td>
    </tr>
    <tr>
        <td class="Title">Telefon</td>
        <td><input name="ctl00$ContentPlaceHolderPage$LayoutOfthePage$TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2$ctl00$FormularKontakt$TextBoxTelefon" type="text" id="ctl00_ContentPlaceHolderPage_LayoutOfthePage_TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2_ctl00_FormularKontakt_TextBoxTelefon" class="Textbox" /></td>
    </tr>
    <tr>
        <td colspan="2">            
        </td>
    </tr>
    <tr>
        <td class="Title">E-Mail</td>
        <td><input name="ctl00$ContentPlaceHolderPage$LayoutOfthePage$TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2$ctl00$FormularKontakt$TextBoxEmail" type="text" id="ctl00_ContentPlaceHolderPage_LayoutOfthePage_TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2_ctl00_FormularKontakt_TextBoxEmail" class="Textbox" /></td>
    </tr>
    <tr>
        <td colspan="2">
            
        </td>
    </tr>

     <tr>
        <td class="Title">Nachricht</td>
        <td><textarea name="ctl00$ContentPlaceHolderPage$LayoutOfthePage$TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2$ctl00$FormularKontakt$TextBoxMessage" rows="2" cols="20" id="ctl00_ContentPlaceHolderPage_LayoutOfthePage_TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2_ctl00_FormularKontakt_TextBoxMessage">
</textarea></td>
    </tr>
    <tr>
        <td colspan="2">
        
        
        </td>
    </tr>
    <tr> 
        <td colspan="2">
            <input type="submit" name="ctl00$ContentPlaceHolderPage$LayoutOfthePage$TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2$ctl00$FormularKontakt$ButtonSend" value="Senden" id="ctl00_ContentPlaceHolderPage_LayoutOfthePage_TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2_ctl00_FormularKontakt_ButtonSend" /><br />
            <span id="ctl00_ContentPlaceHolderPage_LayoutOfthePage_TemplateId_1345346c-3535-4861-882f-4c7f64267963_SegmentId_e9c25170-8605-48dd-85c9-643a89254c00_partName_column2_ctl00_FormularKontakt_LabelInfo"></span>
        </td>
    </tr>
</table>




</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-4698-a368-6559f0325876">
   

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/maps?hl=&ie=UTF8&q=hofgut+storzeln&fb=1&gl=de&hq=hofgut+storzeln&hnear=Villingen,+Schwarzwald-Baar-Kreis,+Baden-W%C3%BCrttemberg&t=m&vpsrc=0&ll=47.77762,8.72333&spn=0.611094,0.579168&output=embed"></iframe><br /><small><a href="http://maps.google.de/maps?hl=&ie=UTF8&q=hofgut+storzeln&fb=1&gl=de&hq=hofgut+storzeln&hnear=Villingen,+Schwarzwald-Baar-Kreis,+Baden-W%C3%BCrttemberg&t=m&vpsrc=0&ll=47.77762,8.72333&spn=0.611094,0.579168&source=embed" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>


     
 

</div>
        
    </div>
    
    <div class="Column3">
        
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/hofgut_large.jpg"><img src="../public/imgs/hofgut.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/produkte_large.jpg"><img src="../public/imgs/produkte.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/leistungen_large.jpg"><img src="../public/imgs/leistungen.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/tierzucht_large.jpg"><img src="../public/imgs/tierzucht.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
    </div>

    <div class="Clear"></div>

    
</div>

            <div style="position: fixed; left: 0; bottom: 0; display: none;">
                <input type="submit" name="ctl00$ContentPlaceHolderPage$ButtonRefresh" value="Refresh" id="ctl00_ContentPlaceHolderPage_ButtonRefresh" class="jQueryRefreshEditContent" />
            </div>
        
</div>

    <div id="ctl00_ContentPlaceHolderPage_UpdateProgressAll" style="display:none;">
	
            <div class="ProgressAll AjaxLoaderContainer">
                <img class="AjaxLoader" src="../public/imgs/ajax-loader2.gif" alt="loading..." border="0" />
            </div>
        
</div>

    <div class="ProgressAll AjaxLoaderContainer ProgresUloadImageShop jQueryAjaxLoaderContainer" style="display: none;">
        <img id="ctl00_ContentPlaceHolderPage_Image1" class="AjaxLoader" src="../public/imgs/ajax-loader2.gif" alt="loading..." border="0" />
    </div>
