 <script type="text/javascript">
    var bannersUrls = new Array("../../public/imgs/traktor_hegne.jpg","../public/imgs/containerreinigung.jpg","../public/imgs/maehdrescher.jpg","../public/imgs/traktor_acker.jpg"); 
    var timeSpeed = 3000;
    var firstBannerTimeSpeed = 3000;
    var acctualBanner = 0;
    var repeatFirstBanner = true;   
    
    $(document).ready(function() {
        $("img.ImageBannerTop").attr("src", bannersUrls[acctualBanner]);
        $("img.ImageBannerBottom").hide(); 
        $("img.ImageBannerBottom").attr("src", bannersUrls[acctualBanner + 1]);   

        // #### MG: 2011-12-13
        if(bannersUrls.length > 1)
        {
            setTimeout('nextBanner()', firstBannerTimeSpeed);
        }
      
        
        $(".ContainerBannerRotator").hoverIntent(function() { $(this).find(".ContainerBannerEditButton").show(); },
            function() { $(this).find(".ContainerBannerEditButton").fadeOut('fast'); }); 
            
        //        $('.BannerRotatorOpenEditPopup').click(function() {
        //            $('#HiddenModalEditBanners').slideDown('normal');                                                 
        //        });   
        //        
        //        $('#EditBannersCloseButton').click(function() {
        //            $('#HiddenModalEditBanners').slideUp('normal');
        //        });
        
    });
    
    function nextBanner()
    {
        $("img.ImageBannerTop").show();
        acctualBanner = acctualBanner + 1;

        if(acctualBanner > (bannersUrls.length - 1))
        {
            if(repeatFirstBanner)
                acctualBanner = 0;
            else
                acctualBanner = 1; 
        }

        $("img.ImageBannerBottom").attr("src", bannersUrls[acctualBanner]);
        $("img.ImageBannerBottom").show();
        
        $("img.ImageBannerTop").fadeOut(1500, function() {
            $(this).attr("src", bannersUrls[acctualBanner]);
            //$(this).show();
            //$(this).fadeIn('fast');
        });                       
         
        setTimeout('nextBanner()', timeSpeed);
    } 
    
</script>

    <div class="Column2">
        
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-44f3-8850-ef5a96d50de3">
   



<div class="a832745f-8478-44f3-8850-ef5a96d50de3 Title">
    <h1>Landwirtschaftliche Dienstleistungen - Lohn- &amp; Regiearbeiten</h1>
</div>
 

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-4566-b76c-f3004454c693">
   



<div class="a832745f-8478-4566-b76c-f3004454c693">
    <div style="width: 0px; height: 0px;"></div>
       
       
       
       
         
      
        Neben den Standardbearbeitungsverfahren<div><ul><li>Pflügen </li><li>Grubbern</li><li>Eggen</li><li>Sähen</li><li>Grünlandtechnik / Flächenpflege</li></ul>verfügt die Hofgut Storzeln GmbH über spezielle Bearbeitungstechniken.</div><div><br /></div><div><ul><li>modernste Hacktechnik mit <span style="font-weight: bold;">Kamera </span>gesteuerten Maschinen</li><li>spezielle Striegeltechniken</li><li><a href="maehdrescher.aspx.html" target="_self">Mähdrescher mit Spezialschneidwerk</a></li><li><a href="getreidereinigung.aspx.html" target="_self">Mobile Getreidereinignung </a></li><li><a href="getreidetrocknung.aspx.html" target="_self">Mobile Getreidetrocknung</a></li><li>Schälpflug</li><li>Höhenverstellbarer Balkenmäher zur Unkrautbekämpfung </li></ul>Sollten Sie Interesse an einen dieser Bearbeitungsschritte haben, bieten wir Ihnen diese gerne als Lohnunternehmer an.<br /></div>              
</div>

</div>
        
    </div>
    
    <div class="Column3">
        
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/pfluegen_hegne_large.jpg"><img src="../public/imgs/pfluegen_hegne.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/dreschen_hegne_large.jpg"><img src="../public/imgs/dreschen_hegne.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/reinigung_large.jpg"><img src="../public/imgs/reinigung.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-45f4-98c9-28bdcb7c7b15">
   


<div class="a832745f-8478-45f4-98c9-28bdcb7c7b15">
    <div class='PanelImageContenerInImageTemplateLeft'><a href="../public/imgs/container_large.jpg"><img src="../public/imgs/container.jpg" alt=" " border="0" /></a><br /></div>
</div>

</div>
    </div>

    <div class="Clear"></div>

    
</div>

            <div style="position: fixed; left: 0; bottom: 0; display: none;">
                <input type="submit" name="ctl00$ContentPlaceHolderPage$ButtonRefresh" value="Refresh" id="ctl00_ContentPlaceHolderPage_ButtonRefresh" class="jQueryRefreshEditContent" />
            </div>
        
</div>

    <div id="ctl00_ContentPlaceHolderPage_UpdateProgressAll" style="display:none;">
	
            <div class="ProgressAll AjaxLoaderContainer">
                <img class="AjaxLoader" src="../public/imgs/ajax-loader2.gif" alt="loading..." border="0" />
            </div>
        
</div>

    <div class="ProgressAll AjaxLoaderContainer ProgresUloadImageShop jQueryAjaxLoaderContainer" style="display: none;">
        <img id="ctl00_ContentPlaceHolderPage_Image1" class="AjaxLoader" src="../public/imgs/ajax-loader2.gif" alt="loading..." border="0" />
    </div>
