<script type="text/javascript">
    var bannersUrls = new Array("../../public/imgs/zitronenmelisse.jpg","../public/imgs/laborszene.jpg","../public/imgs/bluete-pipette.jpg","../public/imgs/sojabohnen.jpg"); 
    var timeSpeed = 3000;
    var firstBannerTimeSpeed = 3000;
    var acctualBanner = 0;
    var repeatFirstBanner = true;   
    
    $(document).ready(function() {
        $("img.ImageBannerTop").attr("src", bannersUrls[acctualBanner]);
        $("img.ImageBannerBottom").hide(); 
        $("img.ImageBannerBottom").attr("src", bannersUrls[acctualBanner + 1]);   

        // #### MG: 2011-12-13
        if(bannersUrls.length > 1)
        {
            setTimeout('nextBanner()', firstBannerTimeSpeed);
        }
      
        
        $(".ContainerBannerRotator").hoverIntent(function() { $(this).find(".ContainerBannerEditButton").show(); },
            function() { $(this).find(".ContainerBannerEditButton").fadeOut('fast'); }); 
            
        //        $('.BannerRotatorOpenEditPopup').click(function() {
        //            $('#HiddenModalEditBanners').slideDown('normal');                                                 
        //        });   
        //        
        //        $('#EditBannersCloseButton').click(function() {
        //            $('#HiddenModalEditBanners').slideUp('normal');
        //        });
        
    });
    
    function nextBanner()
    {
        $("img.ImageBannerTop").show();
        acctualBanner = acctualBanner + 1;

        if(acctualBanner > (bannersUrls.length - 1))
        {
            if(repeatFirstBanner)
                acctualBanner = 0;
            else
                acctualBanner = 1; 
        }

        $("img.ImageBannerBottom").attr("src", bannersUrls[acctualBanner]);
        $("img.ImageBannerBottom").show();
        
        $("img.ImageBannerTop").fadeOut(1500, function() {
            $(this).attr("src", bannersUrls[acctualBanner]);
            //$(this).show();
            //$(this).fadeIn('fast');
        });                       
         
        setTimeout('nextBanner()', timeSpeed);
    } 
    
</script>
    <div class="Column2">
        
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-44f3-8850-ef5a96d50de3">
   


<div class="a832745f-8478-44f3-8850-ef5a96d50de3 Title">
    <h1 name="#top">Sojaprodukte &amp; Mehr</h1>
</div>
 

</div>
<div class="Segment SegmentViev wxs-segment wxs-segment-a832745f-8478-4566-b76c-f3004454c693">
   



<div class="a832745f-8478-4566-b76c-f3004454c693">
    <div style="width: 0px; height: 0px;"></div>
    <p>Schon seit einigen Jahren beschäftigen wir uns mit dem Anbau von Bio-Soja-Bohnen am Bodensee. Wirkliche Regionalität ist gerade bei Soja-Produkten gefragt aber nicht einfach zu verwirklichen. Durch den eigenen Anbau von Soja-Bohnen konnten wir in den letzten Jahren dafür die Grundlage schaffen.</p>
    <p>Gemäß unserem Motto "Hofgut Storzeln - Von der Aussaat bis zum Endprodukt" haben wir zum 1. November 2012 unsere eigenen Soja-Dinks auf den Markt gebracht. Diese wurden ergänzt mit Drinks aus regionalem Hafer und Dinkel.</p>
     
    <p>Auf der Biofach 2014 konnten wir nach längerer Entwicklung mit dem Kaffeegetränk SOYPRESSO, den REHLAUF Feldnüssen und den SOCAS Protein Flakes weitere neue Produktlinien vorstellen.</p>
               
</div>

</div>

        
    </div>
    
    <div class="Column3">
        
    </div>

    <div class="Clear"></div>

    
</div>

            <div style="position: fixed; left: 0; bottom: 0; display: none;">
                <input type="submit" name="ctl00$ContentPlaceHolderPage$ButtonRefresh" value="Refresh" id="ctl00_ContentPlaceHolderPage_ButtonRefresh" class="jQueryRefreshEditContent" />
            </div>
        
</div>

    <div id="ctl00_ContentPlaceHolderPage_UpdateProgressAll" style="display:none;">
	
            <div class="ProgressAll AjaxLoaderContainer">
                <img class="AjaxLoader" src="../public/imgs/ajax-loader2.gif" alt="loading..." border="0" />
            </div>
        
</div>

    <div class="ProgressAll AjaxLoaderContainer ProgresUloadImageShop jQueryAjaxLoaderContainer" style="display: none;">
        <img id="ctl00_ContentPlaceHolderPage_Image1" class="AjaxLoader" src="../public/imgs/ajax-loader2.gif" alt="loading..." border="0" />
    </div>
